@model Vocatus.Models.UserDrinkModel
@{
    ViewBag.Title = "MyDrinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/Vocatus.js"></script>

<h2>MyDrinks</h2>

<p>This page allows the user to select what drinks they have and it provides them with cocktail suggestions</p>

<h3>All Ingredients on Hand</h3>
@{
    int count = 0;   
}
@foreach (var i in Model.allCurrentIngredients)
{
    <p>@count . @i.name <button onclick="removeIngredient(@i.ingredients_id)">Remove</button></p>
    count++;
}
<h4>Add a new Ingredient:</h4>


<div style="width:100%;float:left">
    <div style="width:30%;float:left;border:solid;margin:10px;padding:10px">
        <strong>Liquors</strong><br />
        @Html.DropDownList("RemainingLiquors")
        <br /><button onclick="addLiquor()">Add</button>
    </div>
    <div style="width:30%;float:left;border:solid;margin:10px;padding:10px">
        <strong>Liqueurs</strong><br />
        @Html.DropDownList("RemainingLiqueurs")
        <br /><button onclick="addLiqueur()">Add</button>
    </div>
    <div style="width:30%;float:left;border:solid;margin:10px;padding:10px">
        <strong>Cordials</strong><br />
        @Html.DropDownList("RemainingCordials")
        <br /><button onclick="addCordial()">Add</button>
    </div>
    <div style="width:30%;float:left;border:solid;margin:10px;padding:10px">
        <strong>Mixers</strong><br />
        @Html.DropDownList("RemainingMixers")
        <br /><button onclick="addMixer()">Add</button>
    </div>
    <div style="width:30%;float:left;border:solid;margin:10px;padding:10px">
        <strong>Wines</strong><br />
        @Html.DropDownList("RemainingWines")
        <br /><button onclick="addWine()">Add</button>
    </div>
    <div style="width:30%;float:left;border:solid;margin:10px;padding:10px">
        <strong>Misc</strong><br />
        @Html.DropDownList("RemainingMisc")
        <br /><button onclick="addMisc()">Add</button>
    </div>
</div>


<div style="width:100%;float:left">
    <h3>Possible Cocktails to make:</h3>
    @foreach (var i in Model.allPossibleCocktails)
    {
        <p>@i.cocktail_name</p>

    }
</div>
