@model Vocatus.Models.UserDrinkModel
@{
    ViewBag.Title = "MyDrinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyDrinks</h2>

<p>This page allows the user to select what drinks they have and it provides them with cocktail suggestions</p>

<h3>All Ingredients on Hand</h3>
@{
    int count = 0;   
}
@foreach (var i in Model.allCurrentIngredients)
{
    <p>@count . @i.name</p>
    count++;
}
<h4>Add a new Ingredient:</h4>

<div style="width:100%;float:left">
    <div style="width:30%;float:left">
        <strong>Liquors</strong>
        @Html.DropDownList("RemainingLiqours")
        <button>Add</button>    
    </div>
    <div style="width:30%;float:left">
        <strong>Cordials</strong>
        @Html.DropDownList("RemainingCordials")
        <button>Add</button>
    </div>
    <div style="width:30%;float:left">
        <strong>Misc</strong>
        @Html.DropDownList("RemainingMisc")
        <button>Add</button>
    </div>

</div>





<div style="width:100%;float:left">
    <h3>Possible Cocktails to make:</h3>
    @foreach (var i in Model.allPossibleCocktails)
    {
        <p>@i.cocktail_name</p>

    }
</div>
