@model Vocatus.Models.UserDrinkModel
@{
    ViewBag.Title = "MyDrinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/Vocatus.js"></script>
<link rel="stylesheet" type="text/css" href="../../Content/tabcontent.css" />

<h2 style="text-align:center">My Drinks</h2>


<ul class="tabs" data-persist="true" style="min-width:280px">
    <li><a href="#view1">My Ingredients</a></li>
    <li><a href="#view2">Cocktails</a></li>
</ul>
<div class="tabcontents" style="min-width:280px">
    <div id="view1">

        <table style="margin:auto">
            <tbody>

                @{
                    int count = 0;
                }
                @foreach (var i in Model.allCurrentIngredients)
                {
                    <tr>
                        <td colspan="1" width="80"> <button style="width:75px" onclick="removeIngredient(@i.ingredients_id)">Remove</button> </td>
                        <td colspan="1"> @i.name</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>

        <hr />
        <h3>Add Ingredient</h3>

        <div style="width:100%;">
            <div style="width: 30%; float: left; min-width: 215px; border: solid; margin: 10px; padding: 10px">
                <strong>Liquors</strong><br />
                @Html.DropDownList("RemainingLiquors")
                <br /><button onclick="addLiquor()">Add</button>
            </div>
            <div style="width: 30%; float: left; min-width: 215px; border: solid; margin: 10px; padding: 10px">
                <strong>Liqueurs</strong><br />
                @Html.DropDownList("RemainingLiqueurs")
                <br /><button onclick="addLiqueur()">Add</button>
            </div>
            <div style="width: 30%; min-width: 215px; float: left; border: solid; margin: 10px; padding: 10px">
                <strong>Cordials</strong><br />
                @Html.DropDownList("RemainingCordials")
                <br /><button onclick="addCordial()">Add</button>
            </div>
            <div style="width:30%;min-width:215px;float:left;border:solid;margin:10px;padding:10px">
                <strong>Mixers</strong><br />
                @Html.DropDownList("RemainingMixers")
                <br /><button onclick="addMixer()">Add</button>
            </div>
            <div style="width: 30%; min-width: 215px; float: left; border: solid; margin: 10px; padding: 10px">
                <strong>Wines</strong><br />
                @Html.DropDownList("RemainingWines")
                <br /><button onclick="addWine()">Add</button>
            </div>
            <div style="width: 30%; float: left; border: solid; min-width: 215px; margin: 10px; padding: 10px">
                <strong>Misc</strong><br />
                @Html.DropDownList("RemainingMisc")
                <br /><button onclick="addMisc()">Add</button>
            </div>
        </div>


    </div>
    <div id="view2">

        <div style="min-width:240px;margin:auto;height:100%">
            <h3>Cocktails you have ingredients for:</h3>
            @foreach (var c in Model.allCocktailCombinations)
            {
                <div style="border:solid;width:150px;float:left;">
                    <img src="@c.cocktailImagePath" style="width:144px;height:150px" />
                    <h4 style="text-decoration:underline">@(c.cocktailName != null ? c.cocktailName : "")</h4>

                    @foreach (var i in c.ingredients)
                    {
                        <p>-- @i </p>
                    }

                </div>
            }
        </div>


    </div>
</div>



